<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav d-flex w-100">
					<li class="navbar-item">
						<a class="nav-link" href="{% url 'index' %}">Home</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link" href="{% url 'about' %}">About</a>
					</li>
					{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								Create
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="btn button-primary" href="{% url 'create-budget-item' %}">A Budget Item</a>
							</ul>
						</li>
						<li class="navbar-item">
							<a class="nav-link" href="{% url 'list-budget-items' %}">Personal Entries</a>
						</li>
						{% if user.profile.family %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								   data-bs-toggle="dropdown" aria-expanded="false">
									Family
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li class="navbar-item">
										<a class="nav-link" href="{% url 'family-year-month' %}">Family Statistics</a>
									</li>
									{% if user.profile.family.admin == user %}
										<li class="navbar-item">
											<a class="nav-link" href="{% url 'family-list-budget-items' %}">Family
												Entries</a>
										</li>
									{% endif %}
								</ul>
							</li>
						{% endif %}
						<li class="navbar-item">
							<a class="nav-link" href="{% url 'user-details' pk=user.id %}">Profile</a>
						</li>
						<li class="navbar-item">
							<a class="nav-link" href="{% url 'logout-user-confirmation' %}">Logout</a>
						</li>

					{% else %}
						<li class="navbar-item">
							<a class="nav-link" href="{% url 'register-new-user' %}">Register</a>
						</li>
						<li class="navbar-item">
							<a class="nav-link" href="{% url 'login-user' %}">Login</a>
						</li>
					{% endif %}
					<li class="navbar-item ms-auto">
						<a class="nav-link" href="#">Logged as:
							{% if user.name %}{{ user.name }}{% else %}{{ user }}{% endif %}</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</header>