{% extends 'base.html' %}
{% load my_tags %}
{% block page_title %}
	Decline Invitation
{% endblock %}
{% block main_content %}
	<div class="container">
		<h2 class="text-center mt-3">Decline Invitation</h2>
		<form method="post" action="{% url 'decline-invitation' pk=object.pk %}" class="form-group">
			{% csrf_token %}
			{% for field in form %}
				<div class="form-group">
					<label for="{{ field.id_for_label }}">{{ field.label }}</label>
					{{ field|add_class:"form-control" }}
				</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary float-end mt-3">Decline</button>
		</form>
		<a href="{{ referer_url }}" class="btn btn-secondary mt-3">Go back</a>
	</div>
{% endblock %}