{% extends 'base.html' %}
{% block page_title %}
	Invitation Details
{% endblock %}
{% block main_content %}
	<div class="container">
		<h2 class="text-center mt-3">Invitation Details</h2>
		<ul class="list-group">
			<li class="list-group-item">Sender: {{ object.invited_by }}</li>
			<li class="list-group-item">Invitee: {{ object.invitee_username }}</li>
			<li class="list-group-item">Family: {{ object.family }}</li>
			<li class="list-group-item">Status: {{ object.status }}</li>
		</ul>
		{% if object.invitee_username == user.username %}
			<div class="mt-3">
				<a class="btn btn-primary" href="{% url 'accept-invitation' pk=object.pk %}">Accept</a>
				<a class="btn btn-danger" href="{% url 'decline-invitation' pk=object.pk %}">Decline</a>
			</div>
		{% endif %}
		<a href="{{ referer_url }}" class="btn btn-secondary mt-3">Go back</a>
	</div>
{% endblock %}